---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;





.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #828282;
    }
 }

.pagination {
    text-align: center;
 }




 /* Share buttons */
 .sharebuttons {
   margin: 0 0 0 0;
 }

 .sharebuttons ul {
   margin: 0 0 0 0;
   text-align: center;
 }

 .sharebuttons ul li {
   display: inline;
 }

 .sharebuttons ul li a {
   text-decoration: none;
 }

 .sharebuttons ul li svg {
   width: 20px;
   height: 20px;
   margin-left: -75px;
   fill: #828282;
 }




 .loadMore
{
  width: 110px;
	height: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
