---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "milligram/milligram",
        "base",
        "layout"
;





.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #828282;
    }
 }

.pagination {
    text-align: center;
 }
















 /* Share buttons */
 .sharebuttons {
   margin: 0 0 0 0;
 }

 .sharebuttons ul {
   margin: 0 0 0 0;
   text-align: center;
 }

 .sharebuttons ul li {
   display: inline;
 }

 .sharebuttons ul li a {
   text-decoration: none;
 }

 .sharebuttons ul li svg {
   width: 20px;
   height: 20px;
   margin-left: -75px;
   fill: #828282;
 }





















 .infinite-spinner {
   display: block;
   width: 40px;
   height: 40px;
   border-radius: 40px;
   background-color: #333;
   margin: 60px auto;

   -webkit-animation: scaleout 1.0s infinite ease-in-out;
   animation: scaleout 1.0s infinite ease-in-out;
 }

 @-webkit-keyframes scaleout {
   0% { -webkit-transform: scale(0.0) }
   100% {
     -webkit-transform: scale(1.0);
     opacity: 0;
   }
 }

 @keyframes scaleout {
   0% {
     transform: scale(0.0);
     -webkit-transform: scale(0.0);
   } 100% {
     transform: scale(1.0);
     -webkit-transform: scale(1.0);
     opacity: 0;
   }
 }
