---
layout: page
permalink: /research/
order: 2
---

<p>
  My work uses traits such as physiological or demographic
   rates to understand how ecosystems work and how they're changing.
</p><p>
  <b> Recent projects:</b>
</p>


{% for post in site.research reversed %}
<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <div class="bd">
                <div class="entry-content">
                  <p style="text-align: center; margin-bottom: 0.1em"><b>{{post.title}}</b></p>
                    <hr style="border:0.5px solid #c6c8cf; margin-top: 0em; margin-bottom: 0em"> </hr>
                    <p style="text-align:right; color: #c6c8cf; font-size: 1em; margin-top: 0em; margin-bottom: 0.5em"><b>{{ post.date | date: "%b %Y"}}</b></p>
                    {{ post.content }}
                </div><!-- entry-content -->
            </div><!-- bd -->
        </div><!-- content -->
    </div><!-- unit-inner -->
</article>

{% endfor %}



<hr style="border:1px solid gray"> </hr>



<article class="unit-article layout-post">
    <div class="unit-inner unit-article-inner">
        <div class="content">
            <div class="bd">
                <div class="entry-content">
                    {{ post.content }}
                </div><!-- entry-content -->
            </div><!-- bd -->
        </div><!-- content -->
    </div><!-- unit-inner -->
</article>


</p><p>
  <b> Links to papers:</b>
</p>


{% for post in site.research %}
    {% cycle 'add row' : '<div class="row">', '', '' %}
        <div class="column column-33">
            <div class="preview-panel">
                <a href="{{ post.external }}">
                    <img src="{{ site.baseurl }}/images/other/{{ post.preview }}">
                </a>
                <div class="post-title">{{ post.title }}</div>
           </div>
        </div>
{% cycle 'end row' : '', '', '</div>' %}
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}
